# BACKEND
/backend/bin
/backend/obj
/backend/**/bin/
backend/**/obj/
backend/**/.vs/
*.db

# FRONTEND
/frontend/.next
/frontend/node_modules
/frontend/.env.local

# SYSTEM
.DS_Store
*.user
backend/PolarDriveInitDB.Cli/datapolar.db-shm
backend/PolarDriveInitDB.Cli/datapolar.db-wal

# Ignora contenuti generati runtime in wwwroot
wwwroot/companies/
wwwroot/zips-outages/