# BACKEND
/backend/bin
/backend/obj
/backend/**/bin/
backend/**/obj/
backend/**/.vs/
*.db

# FRONTEND
/frontend/.next
/frontend/node_modules
/frontend/.env.local

# SYSTEM
.DS_Store
*.user
backend/PolarDriveInitDB.Cli/datapolar.db-shm
backend/PolarDriveInitDB.Cli/datapolar.db-wal

# Volumi Docker
postgres_data_dev/
postgres_data_prod/

# TRANNE il file .gitkeep
backend/PolarDrive.TeslaMockApiService/TempFiles
backend/PolarDrive.TeslaMockApiService/vehicle_states.json

# Logs
LOGS_DEV/*
LOGS_PROD/*
!LOGS_DEV/.gitkeep
!LOGS_PROD/.gitkeep

# Environment files ( MAI committare credenziali )
.env.*
!.env.example
.env
.env.dev
.env.prod
.env.local
.env*.local
