@import "./fonts.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gsap-enabled {
  will-change: transform, opacity;
}

html,
body {
  transition: background-color 0.5s ease, color 0.5s ease;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 64px;
}

body {
  @apply font-sans antialiased bg-arcticWhite text-polarNight dark:bg-polarNight dark:text-arcticWhite;
}

.note-modal {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ripple {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  animation: ripple 600ms linear;
  pointer-events: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}

.input {
  @apply p-2 rounded border border-gray-300 dark:border-gray-600 bg-softWhite dark:bg-polarNight text-polarNight dark:text-softWhite appearance-none cursor-text;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@layer components {
  .workflow-action {
    @apply rounded w-full max-w-[150px] px-[6px] h-[40px] text-[14px] appearance-none cursor-pointer font-bold border hover:bg-blue-600 text-softWhite;

    /* colore testo base + hover light */
    @apply text-gray-700 dark:text-softWhite hover:text-softWhite;

    /* testo icona (contenuto pseudo-elementi) */
    @apply before:block before:text-center before:text-[16px] before:leading-[38px] before:text-gray-700 dark:before:text-softWhite hover:before:text-softWhite;

    /* stile quando checked */
    @apply checked:before:block checked:before:text-center checked:before:text-[17px] checked:before:leading-[38px] checked:font-bold;

    /* disabled override */
    &:disabled {
      @apply bg-slate-500 cursor-not-allowed opacity-20 text-slate-200;
    }
  }
}
