@font-face {
  font-family: "Satoshi";
  src: url("data:font/woff2;base64,[BASE64_SATOSHI_REGULAR]") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("data:font/woff2;base64,[BASE64_SATOSHI_BOLD]") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("data:font/woff2;base64,[BASE64_SATOSHI_BLACK]") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("data:font/woff2;base64,[BASE64_SATOSHI_ITALIC]") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("data:font/woff2;base64,[BASE64_SATOSHI_BOLD_ITALIC]") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("data:font/woff2;base64,[BASE64_SATOSHI_BLACK_ITALIC]") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}